php_flag display_errors on

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-d 
RewriteCond %{REQUEST_FILENAME}% !-f 

### PROPERTY API ROUTES ###
#- GET ALL PROPERTY -#
RewriteRule ^property$ property.php [L]

#- PROPERTY BY ID -#
RewriteRule ^property/view/([0-9]+)$ showproperty.php?property_id=$1 [L]

#- PROPERTY BY TYPE -#
RewriteRule ^property/vente$ property_type.php?property_type=vente [L]
RewriteRule ^property/location$ property_type.php?property_type=location [L]

#- OTHER PAGE -#
RewriteRule ^service$ services.php
RewriteRule ^about$ about.php
RewriteRule ^contact$ contact.php